#main-cointainer{
  height: 100%;
  background-image: url('../public/Assets/bgImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
#bg-color{
  background: rgb(204,204,204);
  background: linear-gradient(149deg, rgba(204,204,204,1) 37%, rgba(255,255,255,1) 90%);
}

.utharam{
  background-color: white;
}
.utharam:hover{
  cursor: pointer;
  background-color: rgb(190, 173, 173);
  color: white;
}

.Asss{
  background-color: #cccccc;
  color: #171e69;
}

.utharam:hover .Asss{
  background-color: #171e69;
  color: white;
}